body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    text-align:center;
}

header{
    background:#0b3d91;
    color:white;
    padding:20px;
}

nav{
    background:#222;
    padding:15px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

section{
    margin-top:40px;
}

button{
    background:#0b3d91;
    color:white;
    border:none;
    padding:12px 20px;
    margin:10px;
    border-radius:5px;
    font-size:16px;
}
/* Gallery Images */
.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.gallery img{
    width:90%;
    max-width:300px;
    height:auto;
    object-fit:contain;
    border-radius:10px;
}
table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

th, td{
    padding:12px;
    border:1px solid #ccc;
}

th{
    background:#0b3d91;
    color:white;
}
table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

th{
    background:#0b3d91;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border:1px solid #ccc;
}

tr:hover{
    background:#f1f1f1;
}

h2{
    color:#0b3d91;
}