body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    text-align:center;
}

header{
    background:white;
    padding:0;
}

nav{
    background:#222;
    padding:15px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

section{
    margin-top:40px;
}

button{
    background:#0b3d91;
    color:white;
    border:none;
    padding:12px 20px;
    margin:10px;
    border-radius:5px;
    font-size:16px;
}
/* Gallery Images */
.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.gallery img{
    width:90%;
    max-width:300px;
    height:auto;
    object-fit:contain;
    border-radius:10px;
}
table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

th, td{
    padding:12px;
    border:1px solid #ccc;
}

th{
    background:#0b3d91;
    color:white;
}

h2{
    color:#0b3d91;
}
.banner{
    width:100%;
    height:auto;
    display:block;
}


#searchInput{
    width:90%;
    max-width:400px;
    padding:12px;
    margin:15px auto;
    display:block;
    font-size:16px;
    border:2px solid #28a745;
    border-radius:8px;
    box-sizing:border-box;
}
#category,
#programme{
    width:90%;
    max-width:400px;
    padding:14px;
    margin:15px auto;
    display:block;
    font-size:18px;
    border:2px solid #d0d0d0;
    border-radius:12px;
    background:#fff;
    color:#333;
    outline:none;
    box-sizing:border-box;
    transition:0.3s;
}

#category:focus,
#programme:focus{
    border-color:#0b3d91;
    box-shadow:0 0 8px rgba(11,61,145,0.3);
}

.result-card{
    max-width:500px;
    margin:20px auto;
    background:#fff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
}

.prize{
    margin:15px 0;
    padding:15px;
    background:#f8f8f8;
    border-radius:10px;
}
